<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>963272106482-fhc4cfiv8cjpet24ldcf1r405s2eigfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.963272106482-fhc4cfiv8cjpet24ldcf1r405s2eigfn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>963272106482-b4ofsg7q6lujll08161mlph5utmje828.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOZobfWx7OcDIQ0qDyq_AQxJeaeqiS_x0</string>
	<key>GCM_SENDER_ID</key>
	<string>963272106482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.dodalApp</string>
	<key>PROJECT_ID</key>
	<string>dodal-5d31c</string>
	<key>STORAGE_BUCKET</key>
	<string>dodal-5d31c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:963272106482:ios:24060dd3c2c74fc8470b6b</string>
</dict>
</plist>